<%# <h1>Chart</h1>
<%= line_chart @data %>

<%= javascript_pack_tag 'index' %>

<!-- Rubyからデータ(@data)を作成、毎秒更新したい //ここでindex指定　remote: true,-->


<p><%= @array %></p>

<h1 id="title">送信されたデータ</h1>
<div id="hidden">
<%= form_tag(url_for(:action => 'index'), :remote => true) do %>
    <%= text_field_tag :title %>
    <%= submit_tag "タイトルを変更する" ,{id: "submitButton"} %>
<% end %>
</div>
<%= link_to 'データ削除', {controller: 'connect', action:'delete'} %>
<button type="button" id="sendButton">データを送信（Ajax）</button>





<table class="words_table">
    <tr>
        <th class="graph_title">教科</th>
        <th class="label">国語</th>
        <th class="label">算数</th>
        <th class="label">社会</th>
        <th class="label">理科</th>
        <th class="label">英語</th>
    </tr>
    
</table>
<div id="stage"></div>

<h1 id="ttl">スマートベンチ管理画面（デモ）</h1>

<p>イベント用LEDを制御ON/OFFします</p>
<div>
<label><input type="radio" name="FAN" value="FAN,ON"><span>ON</span></label>
<label><input type="radio" name="FAN" value="FAN,OFF"><span>OFF</span></label>
<button id="fanButton">設定反映</button>
</div>
<%= @judge %>
<%# 
<p></p>
<div>
<label><input type="radio" name="LED" value="LED,ON"><span>ON</span></label>
<label><input type="radio" name="LED" value="LED,OFF"><span>OFF</span></label>
</div>

<p>LEDカラーを変更します</p>
<div>
<label><input type="radio" name="COLOR" value="COLOR,R:195,G:110,B:0"><span>変更</span></label>
<label><input type="radio" name="COLOR" value="COLOR,R:0,G:0,B:0"><span>リセット</span></label>
</div>

<p>液晶ディスプレイを制御ON/OFFします</p>
<div>
<label><input type="radio" name="DISPLAY" value="DISPLAY,ON"><span>ON</span></label>
<label><input type="radio" name="DISPLAY" value="DISPLAY,OFF"><span>OFF</span></label>
</div>

<p>PDFを制御ON/OFFします</p>
<div>
<label><input type="radio" name="PDF" value="PDF,ON:http://54.64.49.214/sample1.pdf"><span>ON</span></label>
<label><input type="radio" name="PDF" value="PDF,OFF"><span>OFF</span></label>
</div>

<p>画像を制御ON/OFFします</p>
<div>
<label><input type="radio" name="PDF" value="PDF,ON:http://54.64.49.214/bench.jpg"><span>ON</span></label>
<label><input type="radio" name="PDF" value="PDF,OFF"><span>OFF</span></label>
</div>

<p>MP4を制御ON/OFFします</p>
<div>
<label><input type="radio" name="MP4" value="MP4,ON:http://54.64.49.214/sample.mp4"><span>ON</span></label>
<label><input type="radio" name="MP4" value="MP4,OFF"><span>OFF</span></label>
</div>

<p>オーディオを制御ON/OFFします</p>
<div>
<label><input type="radio" name="AUDIO" value="AUDIO,ON"><span>ON</span></label>
<label><input type="radio" name="AUDIO" value="AUDIO,OFF"><span>OFF</span></label>
</div>

<p>音量を変更します</p>
<div>
<label><input type="radio" name="VOLUME" value="VOLUME,10000"><span>ON</span></label>
<label><input type="radio" name="VOLUME" value="VOLUME,0"><span>OFF</span></label>
</div>

<p>MP3を制御ON/OFFします</p>
<div>
<label><input type="radio" name="MP3" value="MP3,ON:http://54.64.49.214/sample/sample.mp3"><span>ON</span></label>
<label><input type="radio" name="MP3" value="MP3,OFF"><span>OFF</span></label>
</div>

<p>USB用5V電源供給を許可ON/OFFします</p>
<div>
<label><input type="radio" name="USB5V" value="USB5V,ON"><span>ON</span></label>
<label><input type="radio" name="USB5V" value="USB5V,OFF"><span>OFF</span></label>
</div>

<p>LOGを許可ON/OFFします</p>
<div>
<label><input type="radio" name="LOG" value="LOG,ON"><span>ON</span></label>
<label><input type="radio" name="LOG" value="LOG,OFF"><span>OFF</span></label>
</div>

<span class="response"></span> %>